################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.exe
/Projects/ExtensionMethod/bin/Debug
/Projects/ExtensionMethod/obj/Debug
/Solution/.vs/Solution/v15/Server/sqlite3
/.vs/slnx.sqlite
/.vs
/Solution/ExtensionMethod.Test/bin/Debug
/Solution/ExtensionMethod.Test/obj/Debug
/Solution/packages
/Projects/ExtensionMethod.Test/bin/Debug
/Projects/ExtensionMethod.Test/obj/Debug
*.dtbcache
/Projects/Collection/bin/Debug
/Projects/Collection/obj/Debug
/Projects/Collection.Test/bin/Debug
/Projects/Collection.Test/obj/Debug
/Projects/DesignPattern/obj/Debug
/Projects/WPFApplication/bin/Debug
/Projects/WPFApplication/obj/Debug
/Projects/CSharp.4.0/bin/Debug
/Projects/CSharp.4.0/obj/Debug
/Projects/DesignPattern/bin/Debug
