################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.exe
/Projects/ExtensionMethod/bin/Debug
/Projects/ExtensionMethod/obj/Debug
/Solution/.vs/Solution/v15/Server/sqlite3
/.vs/slnx.sqlite
/.vs
/Solution/ExtensionMethod.Test/bin/Debug
/Solution/ExtensionMethod.Test/obj/Debug
/Solution/packages
/Projects/ExtensionMethod.Test/bin/Debug
/Projects/ExtensionMethod.Test/obj/Debug
